.table-header {
    background-color: rgb(12, 13, 61); 
    color: white; 
    text-align: center;
}

.btn-filter-user {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 50px;
    border: 1px solid blue;
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
}

#button-submit {
    background-color: #1D2F3A; 
    color: white;
    border: none; 
    padding: 5px 30px; 
    border-radius: 10px; 
    margin-right: 20px; 
    box-shadow: 2px 4px 2px lightgray;
}

#button-cancel {
    background-color: #a7a8b0;
    color: white;
    border: none; 
    padding: 5px 30px; 
    border-radius: 10px; 
    box-shadow: 2px 4px 2px lightgray;
}

#button-create {
    margin-top: 10px; 
    margin-right: 5px; 
    padding: 5px 40px; 
    background-color: #1D2F3A; 
    box-shadow: 2px 4px 2px lightgray;
}

#button-submit:hover, #button-cancel:hover{
    opacity: 0.85;
}